In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

### Extracting data for 2018,2019,2020 movies from Wikipedia

In [2]:
link_2018 = 'https://en.wikipedia.org/wiki/List_of_American_films_of_2018'
link_2019 = 'https://en.wikipedia.org/wiki/List_of_American_films_of_2019'
link_2020 = 'https://en.wikipedia.org/wiki/List_of_American_films_of_2020'

df1_2018 = pd.read_html(link_2018, header=0)[2]
df2_2018 = pd.read_html(link_2018, header=0)[3]
df3_2018 = pd.read_html(link_2018, header=0)[4]
df4_2018 = pd.read_html(link_2018, header=0)[5]

df1_2019 = pd.read_html(link_2019, header=0)[2]
df2_2019 = pd.read_html(link_2019, header=0)[3]
df3_2019 = pd.read_html(link_2019, header=0)[4]
df4_2019 = pd.read_html(link_2019, header=0)[5]

df1_2020 = pd.read_html(link_2020, header=0)[3]
df2_2020 = pd.read_html(link_2020, header=0)[4]
df3_2020 = pd.read_html(link_2020, header=0)[5]
df4_2020 = pd.read_html(link_2020, header=0)[6]

In [3]:
df_2018 = df1_2018.append(df2_2018.append(df3_2018.append(df4_2018, ignore_index=True) , ignore_index=True), ignore_index=True)
df_2019 = df1_2019.append(df2_2019.append(df3_2019.append(df4_2019, ignore_index=True) , ignore_index=True), ignore_index=True)
df_2020 = df1_2020.append(df2_2020.append(df3_2020.append(df4_2020, ignore_index=True) , ignore_index=True), ignore_index=True)

In [4]:
df_2018.shape, df_2019.shape, df_2020.shape

((269, 6), (242, 6), (272, 6))

In [5]:
df_2018.head()

,Opening,Opening.1,Title,Production company,Cast and crew,Ref.
0,JANUARY,5,Insidious: The Last Key,Universal Pictures / Blumhouse Productions / S...,Adam Robitel (director); Leigh Whannell (scree...,[2]
1,JANUARY,5,The Strange Ones,Vertical Entertainment,Lauren Wolkstein (director); Christopher Radcl...,[3]
2,JANUARY,5,Stratton,Momentum Pictures,"Simon West (director); Duncan Falconer, Warren...",[4]
3,JANUARY,10,Sweet Country,Samuel Goldwyn Films,"Warwick Thornton (director); David Tranter, St...",[5]
4,JANUARY,12,The Commuter,Lionsgate / StudioCanal / The Picture Company,Jaume Collet-Serra (director); Byron Willinger...,[6]

In [7]:
df_2020.head()

,Opening,Opening.1,Title,Production company,Cast and crew,Ref.
0,JANUARY,3,The Grudge,Screen Gems / Stage 6 Films / Ghost House Pict...,Nicolas Pesce (director/screenplay); Andrea Ri...,[2]
1,JANUARY,10,Underwater,20th Century Fox / TSG Entertainment / Chernin...,"William Eubank (director); Brian Duffield, Ada...",[3]
2,JANUARY,10,Like a Boss,Paramount Pictures,"Miguel Arteta (director); Sam Pitman, Adam Col...",[4]
3,JANUARY,10,Three Christs,IFC Films,Jon Avnet (director/screenplay); Eric Nazarian...,NaN
4,JANUARY,10,Inherit the Viper,Barry Films / Tycor International Film Company,Anthony Jerjen (director); Andrew Crabtree (sc...,[5]

In [11]:
df_2020['Title'].dtypes

dtype('O')

In [8]:
from tmdbv3api import TMDb
import json
import requests
tmdb = TMDb()
tmdb.api_key = '2368ba4ed7a678e3a667a45ac48c8cb7'

In [9]:
from tmdbv3api import Movie
tmdb_movie = Movie()

def get_genre(x):
    genres = []
    result = tmdb_movie.search(x)
    movie_id = result[0].id
    response = requests.get(f'https://api.themoviedb.org/3/movie/{movie_id}?api_key={tmdb.api_key}')
    data_json = response.json()
    if data_json['genres']:
        genre_str = ' '
        for i in range(0, len(data_json['genres'])):
            genres.append(data_json['genres'][i]['name'])
        return genre_str.join(genres)
    else:
        np.NaN

In [12]:
#df_2018['Genre'] = df_2018['Title'].map(lambda x: get_genre(x))
#df_2019['Genre'] = df_2019['Title'].map(lambda x: get_genre(x))
#df_2020['Genre'] = df_2020['Title'].map(lambda x: get_genre(x))

In [14]:
df_2018.head()

,Opening,Opening.1,Title,Production company,Cast and crew,Ref.,Genre
0,JANUARY,5,Insidious: The Last Key,Universal Pictures / Blumhouse Productions / S...,Adam Robitel (director); Leigh Whannell (scree...,[2],Horror Mystery Thriller
1,JANUARY,5,The Strange Ones,Vertical Entertainment,Lauren Wolkstein (director); Christopher Radcl...,[3],Thriller Drama
2,JANUARY,5,Stratton,Momentum Pictures,"Simon West (director); Duncan Falconer, Warren...",[4],Action Thriller
3,JANUARY,10,Sweet Country,Samuel Goldwyn Films,"Warwick Thornton (director); David Tranter, St...",[5],Drama History Western
4,JANUARY,12,The Commuter,Lionsgate / StudioCanal / The Picture Company,Jaume Collet-Serra (director); Byron Willinger...,[6],Action Thriller

In [15]:
df_2019.head()

,Opening,Opening.1,Title,Production company,Cast and crew,Ref.,Genre
0,JANUARY,4,Escape Room,Columbia Pictures,"Adam Robitel (director); Bragi F. Schut, Maria...",[2],Thriller Action Mystery Adventure Horror
1,JANUARY,4,Rust Creek,IFC Films,Jen McGowan (director); Julie Lipson (screenpl...,[3],Thriller Drama
2,JANUARY,4,American Hangman,Hangman Justice Productions,Wilson Coneybeare (director/screenplay); Donal...,[4],Thriller
3,JANUARY,11,A Dog's Way Home,Columbia Pictures,Charles Martin Smith (director); W. Bruce Came...,[5],Drama Adventure Family
4,JANUARY,11,The Upside,STX Entertainment,Neil Burger (director); Jon Hartmere (screenpl...,[6],Comedy Drama

In [16]:
df_2018a = df_2018[['Title','Cast and crew','Genre']]
df_2019a = df_2019[['Title','Cast and crew','Genre']]

In [17]:
df_2018a.head()

,Title,Cast and crew,Genre
0,Insidious: The Last Key,Adam Robitel (director); Leigh Whannell (scree...,Horror Mystery Thriller
1,The Strange Ones,Lauren Wolkstein (director); Christopher Radcl...,Thriller Drama
2,Stratton,"Simon West (director); Duncan Falconer, Warren...",Action Thriller
3,Sweet Country,"Warwick Thornton (director); David Tranter, St...",Drama History Western
4,The Commuter,Jaume Collet-Serra (director); Byron Willinger...,Action Thriller

In [18]:
df_2019a.head()

,Title,Cast and crew,Genre
0,Escape Room,"Adam Robitel (director); Bragi F. Schut, Maria...",Thriller Action Mystery Adventure Horror
1,Rust Creek,Jen McGowan (director); Julie Lipson (screenpl...,Thriller Drama
2,American Hangman,Wilson Coneybeare (director/screenplay); Donal...,Thriller
3,A Dog's Way Home,Charles Martin Smith (director); W. Bruce Came...,Drama Adventure Family
4,The Upside,Neil Burger (director); Jon Hartmere (screenpl...,Comedy Drama

In [24]:
a = 'Jen McGowan (director); Julie Lipson (screenpl'
a.split(' (director)')[0]

'Jen McGowan'

In [25]:
if 'director' in a:
    print(' '.join(a.split()[:2]))

Jen McGowan

In [26]:
def get_director(x):
    
    if ' (director)' in x:
        return x.split(' (director)')[0]
    elif ' (directors) in x':
        return x.split(' (directors)')[0]
    else:
        return x.split(' (director/screenplay)')[0]

In [27]:
df_2018a['director_name'] = df_2018a['Cast and crew'].map(lambda x: get_director(x))
df_2019a['director_name'] = df_2019a['Cast and crew'].map(lambda x: get_director(x))

<ipython-input-27-c79fe101670d>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_2018a['director_name'] = df_2018a['Cast and crew'].map(lambda x: get_director(x))
<ipython-input-27-c79fe101670d>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_2019a['director_name'] = df_2019a['Cast and crew'].map(lambda x: get_director(x))

In [30]:
def get_actor1(x):
    return ((x.split('screenplay); ')[-1]).split(', ')[0])

In [35]:
df_2018a['actor_1_name'] = df_2018a['Cast and crew'].map(lambda x: get_actor1(x))
df_2019a['actor_1_name'] = df_2019a['Cast and crew'].map(lambda x: get_actor1(x))

<ipython-input-35-31407b61c9d4>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_2018a['actor_1_name'] = df_2018a['Cast and crew'].map(lambda x: get_actor1(x))
<ipython-input-35-31407b61c9d4>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_2019a['actor_1_name'] = df_2019a['Cast and crew'].map(lambda x: get_actor1(x))

In [36]:
def get_actor2(x):
    if len((x.split('screenplay); ')[-1]).split(', ')) < 2:
        return np.NaN
    else:
        return ((x.split('screenplay); ')[-1]).split(', ')[1])

In [37]:
df_2018a['actor_2_name'] = df_2018a['Cast and crew'].map(lambda x: get_actor2(x))
df_2019a['actor_2_name'] = df_2019a['Cast and crew'].map(lambda x: get_actor2(x))

<ipython-input-37-414cc04241c9>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_2018a['actor_2_name'] = df_2018a['Cast and crew'].map(lambda x: get_actor2(x))
<ipython-input-37-414cc04241c9>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_2019a['actor_2_name'] = df_2019a['Cast and crew'].map(lambda x: get_actor2(x))

In [38]:
def get_actor3(x):
    if len((x.split('screenplay); ')[-1]).split(', ')) < 3:
        return np.NaN
    else:
        return ((x.split('screenplay); ')[-1]).split(', ')[2])

In [39]:
df_2018a['actor_3_name'] = df_2018a['Cast and crew'].map(lambda x: get_actor3(x))
df_2019a['actor_3_name'] = df_2019a['Cast and crew'].map(lambda x: get_actor3(x))

In [41]:
df_2018a.head(3)

,Title,Cast and crew,Genre,director_name,actor_1_name,actor_2_name,actor_3_name
0,Insidious: The Last Key,Adam Robitel (director); Leigh Whannell (scree...,Horror Mystery Thriller,Adam Robitel,Lin Shaye,Angus Sampson,Leigh Whannell
1,The Strange Ones,Lauren Wolkstein (director); Christopher Radcl...,Thriller Drama,Lauren Wolkstein,Alex Pettyfer,James Freedson-Jackson,Emily Althaus
2,Stratton,"Simon West (director); Duncan Falconer, Warren...",Action Thriller,Simon West,Dominic Cooper,Austin Stowell,Gemma Chan

In [42]:
df_2019a.head(3)

,Title,Cast and crew,Genre,director_name,actor_1_name,actor_2_name,actor_3_name
0,Escape Room,"Adam Robitel (director); Bragi F. Schut, Maria...",Thriller Action Mystery Adventure Horror,Adam Robitel,Taylor Russell,Logan Miller,Deborah Ann Woll
1,Rust Creek,Jen McGowan (director); Julie Lipson (screenpl...,Thriller Drama,Jen McGowan,Hermione Corfield,Jay Paulson,Sean O'Bryan
2,American Hangman,Wilson Coneybeare (director/screenplay); Donal...,Thriller,Wilson Coneybeare (director/screenplay); Donal...,Donald Sutherland,Vincent Kartheiser,Oliver Dennis

In [43]:
df_2018a = df_2018a.rename(columns={'Title':'movie_title', 'Genre':'genres'})
df_2019a = df_2019a.rename(columns={'Title':'movie_title', 'Genre':'genres'})

df_2018a = df_2018a[['director_name','actor_1_name','actor_2_name','actor_3_name','genres','movie_title']]
df_2019a = df_2019a[['director_name','actor_1_name','actor_2_name','actor_3_name','genres','movie_title']]

In [44]:
df_2018a.head(3)

,director_name,actor_1_name,actor_2_name,actor_3_name,genres,movie_title
0,Adam Robitel,Lin Shaye,Angus Sampson,Leigh Whannell,Horror Mystery Thriller,Insidious: The Last Key
1,Lauren Wolkstein,Alex Pettyfer,James Freedson-Jackson,Emily Althaus,Thriller Drama,The Strange Ones
2,Simon West,Dominic Cooper,Austin Stowell,Gemma Chan,Action Thriller,Stratton

In [45]:
df_2019a.head(3)

,director_name,actor_1_name,actor_2_name,actor_3_name,genres,movie_title
0,Adam Robitel,Taylor Russell,Logan Miller,Deborah Ann Woll,Thriller Action Mystery Adventure Horror,Escape Room
1,Jen McGowan,Hermione Corfield,Jay Paulson,Sean O'Bryan,Thriller Drama,Rust Creek
2,Wilson Coneybeare (director/screenplay); Donal...,Donald Sutherland,Vincent Kartheiser,Oliver Dennis,Thriller,American Hangman

In [46]:
df_2018a.fillna('unknown', inplace=True)
df_2019a.fillna('unknown', inplace=True)

In [48]:
df_2018a['movie_title'] = df_2018a['movie_title'].str.lower()
df_2019a['movie_title'] = df_2019a['movie_title'].str.lower()

In [50]:
df_2018a['comb'] = df_2018a['actor_1_name'] + ' ' + df_2018a['actor_2_name'] + ' ' + df_2018a['actor_3_name'] + ' ' + df_2018a['director_name'] + ' ' + df_2018a['genres']
df_2019a['comb'] = df_2019a['actor_1_name'] + ' ' + df_2019a['actor_2_name'] + ' ' + df_2019a['actor_3_name'] + ' ' + df_2019a['director_name'] + ' ' + df_2019a['genres']

In [49]:
df_2018a.iloc[0,5]

'insidious: the last key'

In [51]:
df_2018_19 = df_2018a.append(df_2019a, ignore_index=True)

In [56]:
df_2018_19.head(3)

,director_name,actor_1_name,actor_2_name,actor_3_name,genres,movie_title,comb
0,Adam Robitel,Lin Shaye,Angus Sampson,Leigh Whannell,Horror Mystery Thriller,insidious: the last key,Lin Shaye Angus Sampson Leigh Whannell Adam Ro...
1,Lauren Wolkstein,Alex Pettyfer,James Freedson-Jackson,Emily Althaus,Thriller Drama,the strange ones,Alex Pettyfer James Freedson-Jackson Emily Alt...
2,Simon West,Dominic Cooper,Austin Stowell,Gemma Chan,Action Thriller,stratton,Dominic Cooper Austin Stowell Gemma Chan Simon...

In [57]:
df_2018_19.shape

(511, 7)

In [59]:
df_2020['Genre'] = df_2020['Title'].map(lambda x: get_genre(str(x)))

In [80]:
df_2020a = df_2020[['Title','Cast and crew','Genre']]

In [81]:
df_2020a.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 272 entries, 0 to 271
Data columns (total 3 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Title          271 non-null    object
 1   Cast and crew  271 non-null    object
 2   Genre          270 non-null    object
dtypes: object(3)
memory usage: 6.5+ KB

In [82]:
def get_director_2020(x):
    if 'director' in x:
        return ' '.join(x.split()[:2])
    elif 'directors' in x:
        return ' '.join(x.split()[:2])
    elif 'directors/screenplay' in x:
        return ' '.join(x.split()[:2])

In [83]:
get_director('Nicolas Pesce (director/screenplay); Andrea Ri')

'Nicolas Pesce (director/screenplay); Andrea Ri'

In [84]:
get_director_2020('Nicolas Pesce (director/screenplay); Andrea Ri')

'Nicolas Pesce'

In [85]:
df_2020a['director_name'] = df_2020a['Cast and crew'].map(lambda x: get_director_2020(str(x)))
df_2020a['actor_1_name'] = df_2020a['Cast and crew'].map(lambda x: get_actor1(str(x)))
df_2020a['actor_2_name'] = df_2020a['Cast and crew'].map(lambda x: get_actor2(str(x)))
df_2020a['actor_3_name'] = df_2020a['Cast and crew'].map(lambda x: get_actor3(str(x)))

df_2020a = df_2020a.rename(columns={'Title':'movie_title', 'Genre':'genres'})
df_2020a = df_2020a[['director_name','actor_1_name','actor_2_name','actor_3_name','genres','movie_title']]
df_2020a.fillna('unknown', inplace=True)
df_2020a['movie_title'] = df_2020a['movie_title'].str.lower()
df_2020a['comb'] = df_2020a['actor_1_name'] + ' ' + df_2020a['actor_2_name'] + ' ' + df_2020a['actor_3_name'] + ' ' + df_2020a['director_name'] + ' ' + df_2020a['genres']

<ipython-input-85-d599b20c4ce9>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_2020a['director_name'] = df_2020a['Cast and crew'].map(lambda x: get_director_2020(str(x)))
<ipython-input-85-d599b20c4ce9>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_2020a['actor_1_name'] = df_2020a['Cast and crew'].map(lambda x: get_actor1(str(x)))
<ipython-input-85-d599b20c4ce9>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_2020a['actor_2_name'] = df_2020a['Cast and crew'].map(lambda x: get_actor2(str(x)))

In [88]:
df_2020a.head(3)

,director_name,actor_1_name,actor_2_name,actor_3_name,genres,movie_title,comb
0,Nicolas Pesce,Andrea Riseborough,Demin Bichir,John Cho,Horror Mystery Thriller,the grudge,Andrea Riseborough Demin Bichir John Cho Nico...
1,William Eubank,Kristen Stewart,Vincent Cassel,Jessica Henwick,Action Horror Science Fiction Thriller,underwater,Kristen Stewart Vincent Cassel Jessica Henwick...
2,Miguel Arteta,Tiffany Haddish,Rose Byrne,Salma Hayek,Comedy,like a boss,Tiffany Haddish Rose Byrne Salma Hayek Miguel ...

In [53]:
old_df = pd.read_csv('my_new_data.csv')

In [55]:
old_df.head(2)

,director_name,actor_1_name,actor_2_name,actor_3_name,genres,movie_title,comb
0,James Cameron,CCH Pounder,Joel David Moore,Wes Studi,Action Adventure Fantasy Sci-Fi,avatar,CCH Pounder Joel David Moore Wes Studi James C...
1,Gore Verbinski,Johnny Depp,Orlando Bloom,Jack Davenport,Action Adventure Fantasy,pirates of the caribbean: at world's end,Johnny Depp Orlando Bloom Jack Davenport Gore ...

In [90]:
final_df = old_df.append(df_2018_19.append(df_2020a, ignore_index=True), ignore_index=True)

In [94]:
old_df.shape,df_2018a.shape,df_2019a.shape,df_2020a.shape,final_df.shape

((5364, 7), (269, 7), (242, 7), (272, 7), (6147, 7))

In [95]:
final_df.head()

,director_name,actor_1_name,actor_2_name,actor_3_name,genres,movie_title,comb
0,James Cameron,CCH Pounder,Joel David Moore,Wes Studi,Action Adventure Fantasy Sci-Fi,avatar,CCH Pounder Joel David Moore Wes Studi James C...
1,Gore Verbinski,Johnny Depp,Orlando Bloom,Jack Davenport,Action Adventure Fantasy,pirates of the caribbean: at world's end,Johnny Depp Orlando Bloom Jack Davenport Gore ...
2,Sam Mendes,Christoph Waltz,Rory Kinnear,Stephanie Sigman,Action Adventure Thriller,spectre,Christoph Waltz Rory Kinnear Stephanie Sigman ...
3,Christopher Nolan,Tom Hardy,Christian Bale,Joseph Gordon-Levitt,Action Thriller,the dark knight rises,Tom Hardy Christian Bale Joseph Gordon-Levitt ...
4,Doug Walker,Doug Walker,Rob Walker,unknown,Documentary,star wars: episode vii - the force awakens ...,Doug Walker Rob Walker unknown Doug Walker Doc...

In [97]:
final_df.to_csv('my_final_data.csv', index=False)